{% extends 'base.html.twig' %}

{% block title %}Category #{{ category.id }}{% endblock %}

{% block body %}
    
    <h1> Les séries de {{ category.name }}</h1>
    {% if programs is empty %}
    <p> Aucune série n'est présente pour cette catégorie </p>
    {% else %}
    {% for program in programs %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>{{ program.title }} série N°={{ program.id }}</h1>
        <p>{{ program.synopsis }}</p>
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
    </article>
    {% endfor %}
    {% endif %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}